<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Novo Cliente</title>
</head>
<body>
  <h1>Cadastrar Novo Cliente</h1>

  <form action="/clientes/cadastroCli" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Telefone:</label>
    <input type="telefone" name="telefone" required><br>

    <button type="submit">Salvar</button>
  </form>

  <a href="/">Voltar</a>
</body>
</html>
