<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário</title>
</head>
<body>
  <h1>Cadastro de funcionários</h1>

  <h2>FUNCIONÁRIOS</h2>
  <form action="/createFunc" method="GET">
    <button type="submit">Criar funcionários</button>
  </form>
  
  </form>
</body>
</html>
