<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>cadastro</title>
</head>
<body>
  <h1>Bem-vindo!</h1>
  <a href="/clientes/cadastroCli">
    <button  style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
    Cadastra-se como cliente</button>
</a>
  <a href="/clientes/cadastroCli">
    <button style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
    Cadastra-se como cliente</button>
</a>
  <a href="/usuarios/registroCli">
  <button style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
    Não tem login? Clique aqui!
  </button>
</a>
  <a href="/clientes/loginCli">
    <button  style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
    Já tem cadastro? Faça login aqui!</button>
</a>
  <a href="/new">Acesso de funcionários</a>
  </table>
</body>
</html>
